.character-sheet {
  height: 100%;
  justify-content: flex-start;

  @media (min-width: 1440px) {
    height: 100vh;
    justify-content: center;
  }
}

.character-sheet__card {
  position: relative;
  margin-top: 215px;

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.character-sheet__card-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.character-sheet__card-mobile {
  display: block;
  position: absolute;
  top: -225px;
  width: 100%;

  @media (min-width: 1440px) {
    display: none;
  }
}

.character-sheet__image-blurred-container {
  border-radius: var(--radius-large);
  height: 100%;
  overflow: hidden;
}

.character-sheet__image-blurred {
  filter: blur(50px);
  height: 795px;
  opacity: 0.6;
  width: 441px;
}

.character-sheet__close {
  left: 21px;
  position: absolute;
  top: 21px;
}

.character-sheet__sheet-img-container {
  left: -70px;
  position: absolute;
  top: 84px;
}

.character-sheet__sheet-img {
  border-radius: var(--radius-character-sheet-img);
  height: 598px;
  width: 100%;
}

.character-sheet__sheet-img--dead {
  filter: var(--filter-dead);
}

.character-sheet__text-container {
  margin: 0 12px;
}

.character-sheet__text-container-title {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.character-sheet__text-container-subtitle {
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.character-sheet__times {
  font-size: 2rem;
  margin: 37px 0 0 16px;
}

.character-sheet__card-img-text {
  height: 173px;
  margin: 0 auto;
  width: 178px;
  z-index: 1;
}

.character-sheet__card-img {
  max-height: 169px;
  max-width: 174px;
}

.character-sheet__gray-box {
  background-color: var(--background-color);
  border-radius: var(--radius-grey-box);
  height: 70px;
  margin-top: -90px;
}

.character-sheet__info-content {
  background-color: var(--color-black);
  border-radius: var(--radius-info-mobile);
  max-height: calc(100vh - 231px);
  overflow-y: scroll;
  padding: 59px 21px 21px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  @media (min-width: 1440px) {
    border-radius: var(--radius-info-desktop);
    height: 795px;
    overflow-y: unset;
    padding: 72px 75px 72px 71px;
    width: 645px;
  }
}
