.the-home {
  background: var(--color-black);
  min-height: 100vh;
  min-width: 100%;
}

.the-home--blur {
  filter: var(--filter-blur);
  overflow: hidden;
  position: fixed;

  @media (min-width: 768px) {
    filter: var(--filter-blur-desktop);
  }
}

.the-home--sheet-open {
  overflow: hidden;
  position: fixed;
}

.the-home__img-background {
  background-image: url('/assets/imgs/background.png');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 900px;
}

.the-home__cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, 224px);
  justify-content: center;
  margin: 0 auto;
  max-width: 968px;
  padding: 47px 0;

  @media (min-width: 768px) {
    padding: 101px 0;
  }
}

.the-home__pagination-section {
  display: flex;
  justify-content: center;
  padding-bottom: 73px;

  @media (min-width: 768px) {
    padding-bottom: 203px;
  }
}
