// Text
@mixin base-text {
  color: var(--color-white);
  font-family: 'Nunito';
  font-size: 1rem;
  font-style: normal;
  line-height: 1.375rem;
}

// Card
@mixin base-card {
  background-color: var(--background-color-card-img);
  border: 2px solid var(--border-color);
  border-radius: var(--radius-medium);
}
