.character-info__title {
  text-transform: uppercase;
}

.character-info__title--origin {
  margin-top: 63px;
}

.character-info__title--location {
  margin-top: 56px;
}

.character-info__about-text {
  color: var(--color-light-grey);
  margin-top: 9px;
}
