@import 'styles/mixins';

.g-pagination {
  color: var(--color-white);
  margin: 0 auto;
}

.pagination__icon {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.pagination__icon--disabled {
  color: var(--border-color);
  cursor: unset;
}

.pagination__number {
  @include base-text;

  color: var(--border-color);
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  margin-left: 48px;

  &:last-of-type {
    margin-right: 48px;
  }
}

.pagination__number--active {
  color: var(--color-lime-green);
  cursor: unset;
}
