:root {
  // Colors
  --color-black: #000;
  --color-white: #fff;
  --color-light-black: #161616;
  --color-light-grey: #d3d3d3;
  --color-dark-grey: #9f9f9f;
  --color-darkest-grey: #8c8c8c;
  --color-lime-green: #cbd736;

  // Background
  --background-color: #1e1e1e;
  --background-color-opac-zero: #1e1e1e00;
  --background-effect: linear-gradient(
    180deg,
    var(--background-color-opac-zero) 0%,
    var(--background-color) 100%
  );
  --background-color-card: #000000cc;
  --background-color-card-text: #000000e6;
  --background-color-card-img: #1b1b1b;

  // Modal
  --modal-background-color: #00000080;

  // Border
  --border-color: #606060;

  // Transform
  --loading-transform: matrix(-1, 0, 0, 1, 0, 0);

  // Radius
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-character-text: 0 0 8px 8px;

  // Shadow
  --shadow: 8px 8px 64px #00000066, 16px 16px 32px #0000004d;

  // Filter
  --filter: drop-shadow(0 4px 79px var(--color-black));
  --filter-blur: blur(10px);
  --filter-blur-desktop: blur(35px);
  --filter-dead: grayscale(100%);
}
